:root {
    --blue-900: #1f4ab2;
    --blue-800: #426FDE;
    --blue-700: #6287E4;
    --blue-500: #8aa5ea;
    --blue-400: #b4c3e6;
    --blue-300: #cfd9ef;
    --blue-100: #e7edfa;
    --grey-100: #eeecec;

    --green: #35B21F;
    --grren-light: #E9FAE7;
    --red: #E21F1F;
    --red-light: #FEECEC;
    --yellow: #c19730;
    --yellow-light: #FCF8D0;
    --teal: #0b9db8;
    --teal-light: #E1F5FE;
    --brown: #805a36;
    --brown-light: #F5E9D9;

    --border-radius: 5px;
}

html, body {
    overscroll-behavior: none;
}

body {
    font-family:  'Open Sans', sans-serif;
}

.text-justify {
    text-align: justify;
}

.navbar-brand {
    display: flex;
    font-size: 1.5rem;

}

.navbar .nav-link {
    color: gray;
}

.navbar .nav-link.active {
    color: var(--blue-900);
    font-weight: bold;
}

.logo {
    padding: 10px 0;
    width: 40px;
}

.logo-footer {
    width: 30%;
}

.nav-item {
    li {
        padding-right: 1rem;
    }

}

.Toastify__toast-container--top-right {
    top: 70px !important;
    right: 1rem;
}

.sidebar {
    min-height: 10vh;
    max-height: 55vh;
    overflow-y: auto;
}

/* Thiết lập nội dung chính */
.content {
    height: calc(100vh - 65px);
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar,
.content::-webkit-scrollbar {
    width: 2px;
}

.sidebar::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2px;
}


.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}


.img-fluid {
    max-width: 80%;
    height: auto;
}

.text-primary {
    color: var(--blue-900) !important
}

.color-secondary {
    color: var(--blue-300);
}

.bg-main {
    background-color: var(--blue-900);
}

.bg-secondary {
    background-color: var(--blue-300) !important;
}


thead {
    --bs-table-bg: var(--blue-300);
}


.underlined-column:hover {
    text-decoration: underline;
}

.box {
    padding: 5px 10px;
    width: 200px;
    border: 1px solid var(--blue-900);
    background-color: var(--blue-100);
    text-align: center;
}