
.btn-primary {
    background-color: var(--blue-900);
    border-radius: var(--border-radius);
}

.btn-secondary {
    border-color: var(--grey-100);
    background-color: var(--grey-100);
    color: black;
    /*border-radius: var(--border-radius);*/
}

.btn-outline-primary {
    border-color: var(--blue-900);
    color: var(--blue-900);
}

.btn-outline-primary:hover {
    background-color: var(--blue-900);
}