body {
    font-family: 'Segoe UI', sans-serif;
    --color-theme-main: #1f4ab2;
    --color-theme-light-blue: #cfd9ef;
    --box-background-color: #e7edfa;
    --color-theme-grey: #eeecec;
    --var-border-radius: 5px;
}

/* .navbar {
    height: 65px;
} */
.navbar-brand {
    display: flex;
    align-items: flex;
    font-size: 1.5rem;

}

.navbar .nav-link {
    color: gray;
}

.navbar .nav-link.active {
    color: var(--color-theme-main);
    font-weight: bold;
}

.logo {
    padding: 10px 0;
    width: 40px;
}

.logo-footer {
    width: 30%;
}

.nav-item {
    li {
        padding-right: 1rem;
    }

}

.Toastify__toast-container--top-right {
    top: 70px !important;
    right: 1rem;
}

.sidebar {
    min-height: 10vh;
    max-height: 55vh;
    overflow-y: auto;
}

/* Thiết lập nội dung chính */
.content {
    height: calc(100vh - 65px);
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar,
.content::-webkit-scrollbar {
    width: 2px;
}

.sidebar::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2px;
}

.spinner-slow {
    animation-duration: 2s;
    /* Điều chỉnh tốc độ quay, 2s là thời gian quay 1 vòng */
}

.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

.dropdown-item:active {
    background-color: var(--color-theme-main);
    color: white;
}






.img-fluid {
    max-width: 80%;
    height: auto;
}

.box {
    border: 1px solid var(--color-theme-main);
    background-color: var(--box-background-color);

}

.text-primary {
    color: var(--color-theme-main) !important
}

.color-secondary {
    color: var(--color-theme-light-blue);
}

.bg-main {
    background-color: var(--color-theme-main);
}

.bg-secondary {
    background-color: var(--color-theme-light-blue) !important;
}


thead {
    --bs-table-bg: var(--color-theme-light-blue);
}


.underlined-column:hover {
    text-decoration: underline;
}

.pagination .page-item.active .page-link {
    background-color: var(--color-theme-main) !important;
    border-color: none !important;
    color: white !important;
}